@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <br><br>
    <div class="d-flex">
            @await Html.PartialAsync("~/Views/User/_Register.cshtml")
            @await Html.PartialAsync("~/Views/User/_Login.cshtml")
    </div>

</div>
